@model List<BE.Food>


<section class="section menu" aria-label="menu-label" id="menu">
    <div class="container">
        <p class="section-subtitle text-center label-2">پیشنهاد ما</p>
        <h2 class="headline-1 section-title text-center">منو خوشمزه ها</h2>
        <div class="menu-wrapper">
            <ul class="menu-list" id="myTab" role="tablist">
                <form style="display: flex; justify-content: center; align-items: center;" asp-action="GetFoodsByMenuId" asp-controller="Menu" method="post">
                    @foreach (BE.Menu item in ViewBag.Menus)
                    {
                    <li class="nav-item">
                        <button style="margin: 0px 10px 10px 10px;" class="btn btn-primary active" type="button" data-toggle="tab" role="tab"
                        data-menu-id="@item.Id"
                                onclick="submitForm(this);">
                            <span class="text text-1">  @item.Name</span>
                            <span class="text text-2" aria-hidden="true">  @item.Name</span>                             
                        </button>
                    </li>
                    }
                </form>
            </ul>
        </div>
     
        <div class="tab-content col-lg-12" id="myTabContent">
            <div class="tab-pane fade show active"  role="tabpanel" aria-labelledby="breakfast-tab">
        <ul class="grid-list">
            @foreach (BE.Food item in ViewBag.Firstfoods)
            {
               <li class="slideUp">
                   <a class="card-title" asp-action="Index" asp-controller="FoodPage" asp-route-id="@item.Id">

               
                      <div class="menu-card hover:card">
                        <figure class="card-banner img-holder" style="width: 100px; height: 100px;">
                            <img src="@item.Photo" width="100" height="100" loading="lazy" alt="Greek Salad"
                                 class="img-cover">
                        </figure>
                        <div>
                            <div class="title-wrapper">
                                <h3 class="title-3">
                                           @item.Name
                                </h3>
                              @*   <span class="badge label-1">جدید</span> *@
                                            <span class="span title-2">@item.Price.ToString("N0") تومان</span>
                            </div>
                            <p class="card-text label-1">
                                @item.Description
                            </p>
                        </div>
                      </div>
                   </a>
               </li>
            
            }
        </ul>
        </div>
        </div>
        
        <p class="menu-text text-center">
            هر روز از ساعت: <span class="span"> ۸:۰۰ </span>  صبح تا  <span class="span"> ۱۰:۰۰ </span> شب 
        </p>
        <a href="#" class="btn btn-primary">
            <span class="text text-1">دیدن منو کامل</span>
            <span class="text text-2" aria-hidden="true">دیدن منو کامل</span>
        </a>
        <img src="./assets/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape"
             class="shape shape-2 move-anim">
        <img src="./assets/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape"
             class="shape shape-3 move-anim">
    </div>
</section>


<script>
    function submitForm(button) {
        var menuId = button.dataset.menuId;
        $.ajax({
            url: '/Home/GetFoodsByMenuId',
            type: 'POST',
            data: { menuId: menuId },
            success: function (data) {
                var html = '<ul class="grid-list">';
                data.forEach(function (item) {
                    html += '<li class="slideUp">';
                    html += '<a class="card-title" href="/FoodPage/Index/' + item.id + '">';
                    html += '    <div class="menu-card hover:card">';
                    html += '        <figure class="card-banner img-holder" style="width: 100px; height: 100px;">';
                    html += '            <img src="' + item.photo + '" width="100" height="100" loading="lazy" alt="' + item.name + '" class="img-cover">';
                    html += '        </figure>';
                    html += '        <div>';
                    html += '            <div class="title-wrapper">';
                    html += '                <h3 class="title-3">' + item.name + '</h3>';
                    html += '                <span class="span title-2">تومان ' + item.price + '</span>';
                    html += '            </div>';
                    html += '            <p class="card-text label-1">' + item.description + '</p>';
                    html += '        </div>';
                    html += '    </div>';
                    html += '    </a>';
                    html += '</li>';
                });
                html += '</ul>';
                $('#myTabContent .tab-pane').html(html);
                // Add fadeIn class
                $('#myTabContent .tab-pane').hide().fadeIn(300); // اضافه کردن افکت fadeIn
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>



