@model BE.Basket
@using System.Linq
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <article>

        <!--
          - #HERO
        -->

        <section class="hero text-center" aria-label="home" id="home">

            <ul class="hero-slider" data-hero-slider>

                <li class="slider-item active" data-hero-slider-item>

                    <div class="slider-bg">
                        <img src="./assets/images/hero-slider-1.jpg" width="1880" height="950" alt="" class="img-cover">
                    </div>

                    <p class="label-2 section-subtitle slider-reveal">سنتی و بهداشتی</p>
                    <h1 class="display-1 hero-title slider-reveal">
                        برای عشق به <br>
                        غذاهای خوشمزه
                    </h1>
                    <p class="body-2 hero-text slider-reveal">
                        با خانواده بیایید و لذت غذاهای خوشمزه را تجربه کنید
                    </p>
                    <a href="#menu" class="btn btn-primary slider-reveal">
                        <span style="font-weight:900;font-size:25px;" class="text text-1">مشاهده منو</span>
                        <span style="font-weight:900;font-size:25px;" class="text text-2" aria-hidden="true">مشاهده منو</span>

                        </a>
                </li>

                <li class="slider-item" data-hero-slider-item>

                    <div class="slider-bg">
                        <img src="./assets/images/hero-slider-2.jpg" width="1880" height="950" alt="" class="img-cover">
                    </div>


                    <p class="label-2 section-subtitle slider-reveal">تجربه‌ی لذت‌بخش</p>
                    <h1 class="display-1 hero-title slider-reveal">
                        طعم‌های الهام گرفته از <br>
                        فصول سال
                    </h1>
                    <p class="body-2 hero-text slider-reveal">
                        با خانواده بیایید و لذت غذاهای خوشمزه را تجربه کنید
                    </p>
                    <a href="#menu" class="btn btn-primary slider-reveal">
                        <span style="font-weight:900;font-size:25px;" class="text text-1">مشاهده منو</span>
                        <span style="font-weight:900;font-size:25px;" class="text text-2" aria-hidden="true">مشاهده منو</span>

                        </a>

                </li>

                <li class="slider-item" data-hero-slider-item>

                    <div class="slider-bg">
                        <img src="./assets/images/hero-slider-3.jpg" width="1880" height="950" alt="" class="img-cover">
                    </div>

                   <p class="label-2 section-subtitle slider-reveal">شگفت‌انگیز و لذیذ</p>
                    <h1 class="display-1 hero-title slider-reveal">
                        جایی که هر طعم <br>
                        یک داستان را نقل می‌کند
                    </h1>
                    <p class="body-2 hero-text slider-reveal">
                        با خانواده بیایید و لذت غذاهای خوشمزه را تجربه کنید
                    </p>

                    <a href="#menu" class="btn btn-primary slider-reveal">

                        <span style="font-weight:900;font-size:25px;" class="text text-1">مشاهده منو </span>


                        <span style="font-weight:900;font-size:25px;" class="text text-2" aria-hidden="true">مشاهده منو </span>
                    </a>

                </li>

            </ul>

            <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
                <ion-icon name="chevron-back"></ion-icon>
            </button>

            <button class="slider-btn next" aria-label="slide to next" data-next-btn>
                <ion-icon name="chevron-forward"></ion-icon>
            </button>

            <a href="#reservation" class="hero-btn has-after">
                <img src="./assets/images/hero-icon.png" width="48" height="48" alt="booking icon">


                <span class="label-2 text-center span">رزرو میز</span>
            </a>

        </section>

        <!--
          - #SERVICE
        -->

        <section class="section service bg-black-10 text-center" aria-label="service">
            <div class="container">


                <p class="section-subtitle label-2">طعم‌های برای سلطنت</p>
                <h2 class="headline-1 section-title">ما بهترین‌ها را ارائه می‌دهیم</h2>
                <p class="section-text">
                    متن دست‌نویس ساده از صنعت چاپ و بافت است. متن Lorem Ipsum به مدت دهه‌ها استاندارد صنعت چاپ و بافت بوده است.
                </p>
                <ul class="grid-list">

                    <li>
                        <div class="service-card">

                            <a href="#" class="has-before hover:shine">
                                <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                                    <img src="./assets/images/service-1.jpg" width="285" height="336" loading="lazy" alt="Breakfast"
                                         class="img-cover">
                                </figure>
                            </a>

                            <div class="card-content">


                                <h3 class="title-4 card-title">
                                    <a href="#">صبحانه</a>
                                </h3>
                                <a href="#menu" class="btn-text hover-underline label-2">مشاهده منو</a>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="service-card">

                            <a href="#" class="has-before hover:shine">
                                <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                                    <img src="./assets/images/service-2.jpg" width="285" height="336" loading="lazy" alt="Appetizers"
                                         class="img-cover">
                                </figure>
                            </a>

                            <div class="card-content">

                                <h3 class="title-4 card-title">
                                    <a href="#">میان وعده</a>
                                </h3>
                                <a href="#" class="btn-text hover-underline label-2">مشاهده منو</a>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="service-card">

                            <a href="#" class="has-before hover:shine">
                                <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                                    <img src="./assets/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Drinks"
                                         class="img-cover">
                                </figure>
                            </a>

                            <div class="card-content">


                                <h3 class="title-4 card-title">
                                    <a href="#">نوشیدنی‌ها</a>
                                </h3>
                                <a href="#" class="btn-text hover-underline label-2">مشاهده منو</a>

                            </div>

                        </div>
                    </li>

                </ul>

                <img src="./assets/images/shape-1.png" width="246" height="412" loading="lazy" alt="shape"
                     class="shape shape-1 move-anim">
                <img src="./assets/images/shape-2.png" width="343" height="345" loading="lazy" alt="shape"
                     class="shape shape-2 move-anim">

            </div>
        </section>





        <!--
          - #ABOUT
        -->

        <section class="section about text-center" aria-labelledby="about-label" id="about">
            <div class="container">

                <div class="about-content">
                    <p class="label-2 section-subtitle" id="about-label">داستان ما</p>

                    <h2 class="headline-1 section-title">هر طعمی داستانی دارد</h2>

                    <p class="section-text">
                        لورم ایپسوم به طور ساده متن بیشماری از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم به طور
                        قدیمی با طراحی متن مشغول به کار بوده و امروزه نیز مانند اینکه یک روزنامه یا مجله در حالت چاپ و
                        باقی می ماند. این از زمانی است که یک چاپگر ناشناخته یک صفحه چاپ و یک صفحه نوشته است.
                    </p>

                    <div class="contact-label">رزرو تماسی</div>

                    <a href="tel:09108117122" class="body-1 contact-number hover-underline">09108117122</a>

                    <a href="#" class="btn btn-primary">
                        <span class="text text-1">بیشتر بخوانید</span>

                        <span class="text text-2" aria-hidden="true">بیشتر بخوانید</span>
                    </a>


                </div>

                <figure class="about-banner">

                    <img src="./assets/images/about-banner.jpg" width="570" height="570" loading="lazy" alt="about banner"
                         class="w-100" data-parallax-item data-parallax-speed="1">

                    <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
                        <img src="./assets/images/about-abs-image.jpg" width="285" height="285" loading="lazy" alt=""
                             class="w-100">
                    </div>

                    <div class="abs-img abs-img-2 has-before">
                        <img src="./assets/images/badge-2.png" width="133" height="134" loading="lazy" alt="">
                    </div>

                </figure>

                <img src="./assets/images/shape-3.png" width="197" height="194" loading="lazy" alt="" class="shape">

            </div>
        </section>





        <!--
          - #SPECIAL DISH
        -->

        <section class="special-dish text-center" aria-labelledby="dish-label">

            <div class="special-dish-banner">
                <img src="./assets/images/special-dish-banner.jpg" width="940" height="900" loading="lazy" alt="special dish"
                     class="img-cover">
            </div>

            <div class="special-dish-content bg-black-10">
                <div class="container">

                    <img src="./assets/images/badge-1.png" width="28" height="41" loading="lazy" alt="badge" class="abs-img">

                    <p class="label-2 section-subtitle">غذای ویژه</p>
                    <h2 class="headline-1 section-title">لوبیای تورتلینی</h2>
                    <p class="section-text">
                        لورم ایپسوم به طور ساده متن بیشماری از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم به طور
                        قدیمی با طراحی متن مشغول به کار بوده و امروزه نیز مانند اینکه یک روزنامه یا مجله در حالت چاپ و
                        باقی می ماند. این از زمانی است که یک چاپگر ناشناخته یک صفحه چاپ و یک صفحه نوشته است.
                    </p>

                    <div class="wrapper">
                        <del class="del body-3">تومان 400.000  </del>

                        <span class="span body-1">تومان 200.000</span>
                    </div>

                    <a href="#menu" class="btn btn-primary">
                        <span class="text text-1">مشاهده تمام منو</span>

                        <span class="text text-2" aria-hidden="true">مشاهده تمام منو</span>

                    </a>

                </div>
            </div>

            <img src="./assets/images/shape-4.png" width="179" height="359" loading="lazy" alt="" class="shape shape-1">

            <img src="./assets/images/shape-9.png" width="351" height="462" loading="lazy" alt="" class="shape shape-2">

        </section>





        <!--
          - #MENU
        -->
        <!------------------------------------------menu------------------------------------------------------------->
        @await Component.InvokeAsync("Menu");
        @if(ViewBag.OrderCount > 0){
        <div class="shake">
            <a href="#" class="btn btn-primary show-modal" aria-label="open menu">
                <span class="text text-1 responsive-text ">(@ViewBag.OrderCount)تکمیل خرید <i class="fa-duotone fa-solid fa-burger-soda"></i></span>
                <span class="text text-2 responsive-text" aria-hidden="true">(@ViewBag.OrderCount)تکمیل خرید <i class="fa-duotone fa-solid fa-burger-soda"></i></span>
            </a>
        </div>
        }
        <div class="modal">
         
            <div class="container-modal">
                <div class="header__container">
                    <a class="close-modal" href="#menu">
                         <div class="go-back" >
                            <i  class="fa fa-arrow-left" style="position: relative; height: 35px;  width: 40px;  font-weight: 900; bottom: 60px;color: #191919;"></i>       
                         </div>
                    </a>
                    <i class="fa-sharp-duotone fa-solid fa-clipboard-list"></i>
                    <span class="header-text"> سفارشات شما </span>
                </div>
                <div class="content__container">                  
                  <div class="card__wrapper">
                   <div class="card__container">

                            @if (ViewBag.BasketOrders is List<Restaurant2.Models.BasketOrder> basketOrders && basketOrders.Any())
                            {
                                <div class="invoice">
                                    <div style="display: flex; align-items: center; color: #212121;">
                                        
                                        <span id="amount" style="margin-left: 5px;">0</span>
                                        <span style="margin-left: 5px;">تومان</span>
                                        <b style="margin-left: 5px;"> :مجموع </b>
                                    </div>
                                    <div><a class="btn"><i style="margin: 0 10px;" class="fa-thin fa-clipboard-list-check"></i> پرداخت</a></div>
                                </div>

                                foreach (var order in basketOrders)
                                {
                                    <div class="top-content" data-price="@order.Food.Price" data-count="@order.Count">
                                        <div class="card-type payment receipt"></div>
                                        <div class="info__container">
                                            <div class="left-info">
                                                <div class="img__container">
                                                    <img src="@order.Food.Photo" alt="@order.Food.Name">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="main-text">@order.Food.Name</div>
                                            </div>
                                            <div class="text-info">
                                                <div class="secondary-text"><strong>تعداد:</strong> @order.Count</div>
                                            </div>
                                            <div class="right-info">
                                                <p class="price-info">تومان @order.Food.Price</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p> ! سفارشی ثبت نشده</p>
                            }

                   </div>
                </div>
              </div>       
            </div>
        </div>
        

        <!--
          - #TESTIMONIALS
        -->

        <section class="section testi text-center has-bg-image"
                 style="background-image: url('./assets/images/testimonial-bg.jpg')" aria-label="testimonials">
            <div class="container">


                <div class="quote">”</div>
                <p class="headline-2 testi-text">
                    می‌خواستم از شما بابت دعوتم به آن شام شگفت‌انگیز شب گذشته سپاسگزاری کنم. غذا فوق‌العاده بود.
                </p>

                <div class="wrapper">
                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>
                </div>

                <div class="profile">
                    <img src="./assets/images/20240525_001342_399412470.jpg" width="100" height="100" loading="lazy" alt="صالح فلاحی"
                         class="img">
                    <p class="label-2 profile-name">صالح فلاحی</p>
                </div>

            </div>
        </section>





        <!--
          - #RESERVATION
        -->

        <section class="reservation">
            <div class="container">

                <div class="form reservation-form bg-black-10">

                    <form asp-action="CreateReservation" asp-controller="Home" id="reservation" method="post" enctype="multipart/form-data"  role="form" class="form-left">

                        <h2 class="headline-1 text-center">رزرو آنلاین</h2>
                        <p class="form-text text-center">
                            درخواست رزرو <a href="tel:09108117122" class="link">09108117122</a>
                            یا پر کردن فرم سفارش
                        </p>
                        <div class="input-wrapper">
                            <input type="text" name="name" placeholder="نام شما" autocomplete="off" class="input-field">

                            <input type="tel" name="phone" placeholder="شماره تماس" autocomplete="off" class="input-field">
                        </div>

                        <div class="input-wrapper">

                            <div class="icon-wrapper">
                                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                                <select name="PersonCount" class="input-field">
                                    <option value="1">1 نفر</option>
                                    <option value="2">2 نفر</option>
                                    <option value="3">3 نفر</option>
                                    <option value="4">4 نفر</option>
                                    <option value="5">5 نفر</option>
                                    <option value="6">6 نفر</option>
                                    <option value="7">7 نفر</option>
                                </select>

                                <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                            </div>

                            <div class="icon-wrapper">
                                <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                                
                                <input class="input-field" type="text" name="ReservationDate" id="persianDatapicker">
                               
                                <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                            </div>

                            <div class="icon-wrapper">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <select name="ReservationTime" class="input-field">
                                    <option value="08:00am">08 : 00 صبح</option>
                                    <option value="09:00am">09 : 00 صبح</option>
                                    <option value="010:00am">10 : 00 صبح</option>
                                    <option value="011:00am">11 : 00 صبح</option>
                                    <option value="012:00am">12 : 00 صبح</option>
                                    <option value="01:00pm">01 : 00 ظهر</option>
                                    <option value="02:00pm">02 : 00 ظهر</option>
                                    <option value="03:00pm">03 : 00 ظهر</option>
                                    <option value="04:00pm">04 : 00 ظهر</option>
                                    <option value="05:00pm">05 : 00 ظهر</option>
                                    <option value="06:00pm">06 : 00 ظهر</option>
                                    <option value="07:00pm">07 : 00 شب</option>
                                    <option value="08:00pm">08 : 00 شب</option>
                                    <option value="09:00pm">09 : 00 شب</option>
                                    <option value="10:00pm">10 : 00 شب</option>
                                </select>

                                <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                            </div>

                        </div>

                        <textarea name="message" placeholder="توضیحات" autocomplete="off" class="input-field"></textarea>

                        <button type="submit" class="btn btn-secondary">
                            <span class="text text-1">رزرو میز</span>

                            <span class="text text-2" aria-hidden="true">رزرو میز</span>

                        </button>

                    </form>

                    <div class="form-right text-center" style="background-image: url('./assets/images/form-pattern.png')">


                        <h2 class="headline-1 text-center">تماس با ما</h2>
                        <p class="contact-label">درخواست رزرو</p>
                        <a href="tel:09108117122" class="body-1 contact-number hover-underline">09108117122</a>

                        <div class="separator"></div>
                        <p class="contact-label">موقعیت</p>
                        <address class="body-4">
                            خیابان صدف <br>
                            همدان 
                        </address>
                        <p class="contact-label">زمان ناهار</p>
                        <p class="body-4">
                            از دوشنبه تا یکشنبه <br>
                            ۱۱:۰۰ صبح - ۲:۳۰ بعدازظهر
                        </p>
                        <p class="contact-label">زمان شام</p>
                        <p class="body-4">
                            از دوشنبه تا یکشنبه <br>
                            ۰۵:۰۰ بعدازظهر - ۱۰:۰۰ شب
                        </p>

                    </div>

                </div>

            </div>
        </section>





        <!--
          - #FEATURES
        -->

        <section class="section features text-center" aria-label="features">
            <div class="container">

                <p class="section-subtitle label-2">چرا ما را انتخاب کنید</p>
                <h2 class="headline-1 section-title">نقاط قوت ما</h2>

                <ul class="grid-list">

                    <li class="feature-item">
                        <div class="feature-card">

                            <div class="card-icon">
                                <img src="./assets/images/features-icon-1.png" width="100" height="80" loading="lazy" alt="icon">
                            </div>


                            <h3 class="title-2 card-title">غذاهای بهداشتی</h3>
                            <p class="label-1 card-text">متن نمونه است که به عنوان متن آزمایشی وارد شده است.</p>
                        </div>
                    </li>

                    <li class="feature-item">
                        <div class="feature-card">

                            <div class="card-icon">
                                <img src="./assets/images/features-icon-2.png" width="100" height="80" loading="lazy" alt="icon">
                            </div>


                            <h3 class="title-2 card-title">محیط تازه</h3>
                            <p class="label-1 card-text">متن نمونه است که به عنوان متن آزمایشی وارد شده است.</p>
                        </div>
                    </li>

                    <li class="feature-item">
                        <div class="feature-card">

                            <div class="card-icon">
                                <img src="./assets/images/features-icon-3.png" width="100" height="80" loading="lazy" alt="icon">
                            </div>


                            <h3 class="title-2 card-title">آشپزهای ماهر</h3>
                            <p class="label-1 card-text">متن نمونه است که به عنوان متن آزمایشی وارد شده است.</p>
                        </div>
                    </li>

                    <li class="feature-item">
                        <div class="feature-card">

                            <div class="card-icon">
                                <img src="./assets/images/features-icon-4.png" width="100" height="80" loading="lazy" alt="icon">
                            </div>

                            <h3 class="title-2 card-title">رویداد و مهمانی</h3>
                            <p class="label-1 card-text">متن نمونه است که به عنوان متن آزمایشی وارد شده است.</p>
                        </div>
                    </li>

                </ul>

                <img src="./assets/images/shape-7.png" width="208" height="178" loading="lazy" alt="shape"
                     class="shape shape-1">

                <img src="./assets/images/shape-8.png" width="120" height="115" loading="lazy" alt="shape"
                     class="shape shape-2">

            </div>
        </section>





        <!--
          - #EVENT
        -->

        <section class="section event bg-black-10" aria-label="event">
            <div class="container">


                <p class="section-subtitle label-2 text-center">بروزرسانی‌های اخیر</p>
                <h2 class="section-title headline-1 text-center">رویدادهای آینده</h2>
                <ul class="grid-list">

                    <li>
                        <div class="event-card has-before hover:shine">

                            <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                                <img src="./assets/images/event-1.jpg" width="350" height="450" loading="lazy"
                                     alt="طعمی که خواهید چشید آنقدر خوب است که سعی خواهید کرد با چشمانتان بخورید." class="img-cover">

                                <time class="publish-date label-2" datetime="2022-09-15">۱۵/۰۹/۲۰۲۲</time>

                            </div>

                            <div class="card-content">
                                <p class="card-subtitle label-2 text-center">Food, Flavour</p>

                                <h3 class="card-title title-2 text-center">
                                    طعمی که خواهید چشید آنقدر خوب است که سعی خواهید کرد با چشمانتان بخورید.
                                </h3>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="event-card has-before hover:shine">

                            <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                                <img src="./assets/images/event-2.jpg" width="350" height="450" loading="lazy"
                                     alt="طعمی که خواهید چشید آنقدر خوب است که سعی خواهید کرد با چشمانتان بخورید." class="img-cover">

                                <time class="publish-date label-2" datetime="2022-09-08">۰۸/۰۹/۲۰۲۲</time>
                            </div>

                            <div class="card-content">
                                <p class="card-subtitle label-2 text-center">غذاهای سالم</p>

                                <h3 class="card-title title-2 text-center">
                                    طعمی که خواهید چشید آنقدر خوب است که سعی خواهید کرد با چشمانتان بخورید.
                                </h3>
                            </div>

                        </div>

                    </li>

                    <li>
                        <div class="event-card has-before hover:shine">

                            <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                                <img src="./assets/images/event-3.jpg" width="350" height="450" loading="lazy"
                                     alt="طعمی که خواهید چشید آنقدر خوب است که سعی خواهید کرد با چشمانتان بخورید." class="img-cover">

                                <time class="publish-date label-2" datetime="2022-09-03">۰۳/۰۹/۲۰۲۲</time>
                            </div>

                            <div class="card-content">
                                <p class="card-subtitle label-2 text-center">دستور پخت</p>

                                <h3 class="card-title title-2 text-center">
                                    طعمی که خواهید چشید آنقدر خوب است که سعی خواهید کرد با چشمانتان بخورید.
                                </h3>
                            </div>

                        </div>
                    </li>


                </ul>

                <a href="#" class="btn btn-primary">
                    <span class="text text-1">مشاهده وبلاگ ما</span>
                    <span class="text text-2" aria-hidden="true">مشاهده وبلاگ ما</span>
                </a>


            </div>
        </section>

    </article>
</main>


@section Scripts{
    <script>
       
    </script>
}